openapi: 3.2.0
info:
  title: HappyOrNot Customer API v2 Follow Up Question Localizations…
  description: '### HappyOrNot Customer API v2 is designed for

    * fetching feedbacks of all type (button, followups, text, demographics, contact details)

    * fetching information about experience points, surveys and other

    metadata related to fetching and displaying feedback

    * fetching information about users of HappyOrNot Analytics

    * fetching information about smileys, that is the physical devices or digital tokens for feedback gathering


    ### Useful links:

    * HappyOrNot website

    * HappyOrNot Analytics


    ### Base URL…'
  termsOfService: https://www.happy-or-not.com/terms/
  contact:
    email: api@happy-or-not.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api.happy-or-not.com/v2
security:
- ApiTokenAuth: []
- ApiTokenViaQueryStringAuth: []
tags:
- name: follow-up-question-localizations
  description: Endpoints and data definitions related to localizations for questions used for follow ups in surveys
paths:
  /follow-up-question-localizations.{format}:
    get:
      tags:
      - follow-up-question-localizations
      summary: List follow-up question localizations
      description: List of all follow-up question localizations
      operationId: listFollowupQuestionLocalizations
      parameters:
      - $ref: '#/components/parameters/formatParam'
      - $ref: '#/components/parameters/csvSeparatorParam'
      - name: followupQuestionId
        in: query
        description: list follow-up question localizations only for given follow-up question
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful follow-up question localization listing
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FollowupQuestionLocalization'
            text/csv:
              schema:
                type: string
                description: CSV file with columns matching FollowupQuestionLocalization object properties
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
components:
  parameters:
    csvSeparatorParam:
      name: csvSeparator
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 1
        default: ','
      description: Applied only for CSV responses
    formatParam:
      name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - json
        - csv
  responses:
    ForbiddenResponse:
      description: Not authorised to access the resources given in parameters with the given authentication.
    BadRequestResponse:
      description: Bad request, possibly invalid or missing parameter values.
    UnauthorizedResponse:
      description: Not authenticated, missing or invalid API credentials.
  schemas:
    FollowupQuestionLocalization:
      type: object
      properties:
        followupQuestionId:
          type: integer
          format: int64
        locale:
          type: string
          pattern: ^[a-z]{2}(_[A-Z]{2})?$
          example: en_US
        text:
          type: string
      required:
      - followupQuestionId
      - locale
      - text
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-HON-API-Token
      description: API Tokens are managed in Organization Settings page in Analytics
    ApiTokenViaQueryStringAuth:
      type: apiKey
      in: query
      name: auth
      description: E.g. /some/path?auth=<tokenhere>
externalDocs:
  description: More about HappyOrNot APIs
  url: https://happyornot.github.io/docs/api/
