openapi: 3.2.0
info:
  title: HappyOrNot Customer API v2 Experience Points API
  description: '### HappyOrNot Customer API v2 is designed for

    * fetching feedbacks of all type (button, followups, text, demographics, contact details)

    * fetching information about experience points, surveys and other

    metadata related to fetching and displaying feedback

    * fetching information about users of HappyOrNot Analytics

    * fetching information about smileys, that is the physical devices or digital tokens for feedback gathering


    ### Useful links:

    * HappyOrNot website

    * HappyOrNot Analytics


    ### Base URL…'
  termsOfService: https://www.happy-or-not.com/terms/
  contact:
    email: api@happy-or-not.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api.happy-or-not.com/v2
security:
- ApiTokenAuth: []
- ApiTokenViaQueryStringAuth: []
tags:
- name: experience-points
  description: Experience points and groups related endpoints and data definitions
paths:
  /experience-points.{format}:
    get:
      tags:
      - experience-points
      summary: List experience points and groups
      description: Tree of groups and experience points in tabular format
      operationId: listExperiencePoints
      parameters:
      - $ref: '#/components/parameters/formatParam'
      - $ref: '#/components/parameters/csvSeparatorParam'
      - name: rootExperiencePointId
        in: query
        description: Root exp. point id, if omitted, all authorised groups and exp.points are returned
        required: false
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        description: Only items of given type are returned, if omitted, all authorised groups and exp.points are returned
        required: false
        schema:
          type: string
          enum:
          - GROUP
          - EXPERIENCE_POINT
      responses:
        '200':
          description: successful experience point listing
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperiencePoint'
            text/csv:
              schema:
                type: string
                description: CSV file with columns matching ExperiencePoint object properties
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
components:
  schemas:
    ExperiencePoint:
      type: object
      properties:
        experiencePointId:
          type: integer
        name:
          type: string
        parent:
          type: integer
        type:
          type: string
          enum:
          - GROUP
          - EXPERIENCE-POINT
      required:
      - experiencePointId
      - name
      - type
  parameters:
    csvSeparatorParam:
      name: csvSeparator
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 1
        default: ','
      description: Applied only for CSV responses
    formatParam:
      name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - json
        - csv
  responses:
    ForbiddenResponse:
      description: Not authorised to access the resources given in parameters with the given authentication.
    BadRequestResponse:
      description: Bad request, possibly invalid or missing parameter values.
    UnauthorizedResponse:
      description: Not authenticated, missing or invalid API credentials.
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-HON-API-Token
      description: API Tokens are managed in Organization Settings page in Analytics
    ApiTokenViaQueryStringAuth:
      type: apiKey
      in: query
      name: auth
      description: E.g. /some/path?auth=<tokenhere>
externalDocs:
  description: More about HappyOrNot APIs
  url: https://happyornot.github.io/docs/api/
