openapi: 3.2.0
info:
  title: HappyOrNot Customer API v2 Custom Data Fields API
  description: '### HappyOrNot Customer API v2 is designed for

    * fetching feedbacks of all type (button, followups, text, demographics, contact details)

    * fetching information about experience points, surveys and other

    metadata related to fetching and displaying feedback

    * fetching information about users of HappyOrNot Analytics

    * fetching information about smileys, that is the physical devices or digital tokens for feedback gathering


    ### Useful links:

    * HappyOrNot website

    * HappyOrNot Analytics


    ### Base URL…'
  termsOfService: https://www.happy-or-not.com/terms/
  contact:
    email: api@happy-or-not.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api.happy-or-not.com/v2
security:
- ApiTokenAuth: []
- ApiTokenViaQueryStringAuth: []
tags:
- name: custom-data-fields
  description: Endpoints and data definitions related to custom data fields
paths:
  /experience-point-custom-data.{format}:
    get:
      tags:
      - custom-data-fields
      summary: List custom data fields for experience point
      description: Experience point's or tree of experience point's custom data fields in list format
      operationId: listCustomDataFields
      parameters:
      - $ref: '#/components/parameters/formatParam'
      - $ref: '#/components/parameters/csvSeparatorParam'
      - name: experiencePointId
        in: query
        description: Exp. point id, if omitted, uses rootExperiencePointId
        required: false
        schema:
          type: integer
          format: int64
      - name: rootExperiencePointId
        in: query
        description: Root exp. point id, if omitted and no experiencePoint id is provided returns every custom data field
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful custom data field listing
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomDataField'
            text/csv:
              schema:
                type: string
                description: CSV file with columns matching CustomDataField object properties
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
  /company-custom-data.{format}:
    get:
      tags:
      - custom-data-fields
      summary: List custom data fields for company
      description: company's custom data fields and labels in list format
      operationId: listCompanyCustomDataFields
      parameters:
      - $ref: '#/components/parameters/formatParam'
      - $ref: '#/components/parameters/csvSeparatorParam'
      responses:
        '200':
          description: successful company custom data field listing
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCustomDataField'
            text/csv:
              schema:
                type: string
                description: CSV file with columns matching CompanyCustomDataField object properties
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
components:
  schemas:
    CustomDataField:
      type: object
      properties:
        experiencePointId:
          type: integer
        label:
          type: string
        value:
          type: string
      required:
      - experiencePointId
      - label
    CompanyCustomDataField:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        type:
          type: string
        options:
          type: array
          items:
            type: string
      required:
      - id
      - label
      - type
  parameters:
    csvSeparatorParam:
      name: csvSeparator
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 1
        default: ','
      description: Applied only for CSV responses
    formatParam:
      name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - json
        - csv
  responses:
    ForbiddenResponse:
      description: Not authorised to access the resources given in parameters with the given authentication.
    BadRequestResponse:
      description: Bad request, possibly invalid or missing parameter values.
    UnauthorizedResponse:
      description: Not authenticated, missing or invalid API credentials.
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-HON-API-Token
      description: API Tokens are managed in Organization Settings page in Analytics
    ApiTokenViaQueryStringAuth:
      type: apiKey
      in: query
      name: auth
      description: E.g. /some/path?auth=<tokenhere>
externalDocs:
  description: More about HappyOrNot APIs
  url: https://happyornot.github.io/docs/api/
