openapi: 3.2.0
info:
  title: HappyOrNot Customer API v2 Users API
  description: '### HappyOrNot Customer API v2 is designed for

    * fetching feedbacks of all type (button, followups, text, demographics, contact details)

    * fetching information about experience points, surveys and other

    metadata related to fetching and displaying feedback

    * fetching information about users of HappyOrNot Analytics

    * fetching information about smileys, that is the physical devices or digital tokens for feedback gathering


    ### Useful links:

    * HappyOrNot website

    * HappyOrNot Analytics


    ### Base URL…'
  termsOfService: https://www.happy-or-not.com/terms/
  contact:
    email: api@happy-or-not.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api.happy-or-not.com/v2
security:
- ApiTokenAuth: []
- ApiTokenViaQueryStringAuth: []
tags:
- name: Users
  description: Endpoints and data definitions related to users
paths:
  /users.{format}:
    get:
      tags:
      - Users
      summary: List users
      description: List of all users
      operationId: listUsers
      parameters:
      - $ref: '#/components/parameters/formatParam'
      - $ref: '#/components/parameters/csvSeparatorParam'
      responses:
        '200':
          description: successful user listing
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
            text/csv:
              schema:
                type: string
                description: CSV file with columns matching User object properties
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
components:
  schemas:
    User:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        email:
          type: string
          format: email
          example: test@example.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Doe
        rootExperiencePointId:
          type: integer
          format: int64
        role:
          type: string
          enum:
          - USER
          - ADMIN
          - PARTNER
        locale:
          type: string
          pattern: ^[a-z]{2}(_[A-Z]{2})?$
          example: en_US
        loginAllowed:
          type: boolean
          description: Is user allowed to log in
        loginMethod:
          type: string
          enum:
          - EMAIL_PASSWORD
          - SINGLE_SIGN_ON
        lastLogin:
          type: string
          format: date-time
          description: Time in UTC of user's last login
        created:
          type: string
          format: date-time
          description: Time in UTC when user was created
      required:
      - userId
      - email
      - firstName
      - lastName
      - rootExperiencePointId
      - role
      - locale
      - loginAllowed
      - loginMethod
      - created
  parameters:
    csvSeparatorParam:
      name: csvSeparator
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 1
        default: ','
      description: Applied only for CSV responses
    formatParam:
      name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - json
        - csv
  responses:
    ForbiddenResponse:
      description: Not authorised to access the resources given in parameters with the given authentication.
    BadRequestResponse:
      description: Bad request, possibly invalid or missing parameter values.
    UnauthorizedResponse:
      description: Not authenticated, missing or invalid API credentials.
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-HON-API-Token
      description: API Tokens are managed in Organization Settings page in Analytics
    ApiTokenViaQueryStringAuth:
      type: apiKey
      in: query
      name: auth
      description: E.g. /some/path?auth=<tokenhere>
externalDocs:
  description: More about HappyOrNot APIs
  url: https://happyornot.github.io/docs/api/
