openapi: 3.2.0
info:
  title: HappyOrNot Customer API v2 Token Introspection API
  description: '### HappyOrNot Customer API v2 is designed for

    * fetching feedbacks of all type (button, followups, text, demographics, contact details)

    * fetching information about experience points, surveys and other

    metadata related to fetching and displaying feedback

    * fetching information about users of HappyOrNot Analytics

    * fetching information about smileys, that is the physical devices or digital tokens for feedback gathering


    ### Useful links:

    * HappyOrNot website

    * HappyOrNot Analytics


    ### Base URL…'
  termsOfService: https://www.happy-or-not.com/terms/
  contact:
    email: api@happy-or-not.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api.happy-or-not.com/v2
security:
- ApiTokenAuth: []
- ApiTokenViaQueryStringAuth: []
tags:
- name: Token Introspection
  description: Token introspection including token scopes
paths:
  token/introspect:
    get:
      tags:
      - Token Introspection
      summary: Get token metadata
      description: 'Returns metadata about the provided token, including its status, ID, name, and scopes.

        This endpoint is only available to the token''s owner. Intended for self-service token management.'
      responses:
        '200':
          description: Token is active and valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenIntrospection'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
      operationId: getTokenIntrospect
      x-operation-id-source: derived
components:
  responses:
    UnauthorizedResponse:
      description: Not authenticated, missing or invalid API credentials.
  schemas:
    TokenIntrospection:
      type: object
      required:
      - token_id
      - token_name
      - scopes
      properties:
        token_id:
          type: integer
          format: int64
          description: Unique identifier of the token.
        token_name:
          type: string
          description: Human-readable name of the token.
        scopes:
          type: array
          items:
            type: string
          description: List of scopes granted to the token.
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: X-HON-API-Token
      description: API Tokens are managed in Organization Settings page in Analytics
    ApiTokenViaQueryStringAuth:
      type: apiKey
      in: query
      name: auth
      description: E.g. /some/path?auth=<tokenhere>
externalDocs:
  description: More about HappyOrNot APIs
  url: https://happyornot.github.io/docs/api/
